{% extends "base.html" %}

{% block content %}

<div style="text-align:center; margin-top:100px;">

    <h1>Payment Successful ✅</h1>

    <h3 style="margin-top:20px;">Booking Confirmed</h3>

    <p style="margin-top:20px;">
        <strong>Movie:</strong> {{ booking.movie_name }}
    </p>

    <p>
        <strong>Show Time:</strong> {{ booking.show_time }}
    </p>

    <p>
        <strong>Seats:</strong> {{ booking.seats }}
    </p>

    <p>
        <strong>Amount Paid:</strong> ₹{{ booking.amount }}
    </p>

    <a href="{% url 'my_bookings' %}">
        <button
            style="
                margin-top:25px;
                padding:12px 20px;
                background:#ff4d4d;
                color:white;
                border:none;
                border-radius:10px;
                cursor:pointer;
            "
        >
            View My Bookings
        </button>
    </a>

</div>

{% endblock %}